.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 1052px;
  padding: 92px 24px 0px 24px;
}

.header__menu {
  display: flex;
  justify-content: right;
  grid-column: 1 / span 3;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 32px;
  list-style: circle;
  padding-right: 40px;
}

.header__links-list-item {
  margin: 0;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
}
.header__link-active {
  text-decoration: none;
}

.header__logo {
  text-align: left;
  display: inline-block;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  grid-column: 6 / span 2; /* Adjusted to span columns 6 and 7 */
  text-align: center;
  padding-right: 67px; /* Adjust padding to move text */
  padding-top:7px;
}

.address a {
  display: block;
}

.address__address1 {
  line-height: 0.95em;
}

.header__address {
  font-size: 18px;
  font-style: none;
}

/* * 		header — вся шапка;
* 		header__menu — контейнер навигации;
* 		header__links-list — список ссылок;
* 		header__links-list-item — пункт списка ссылок;
* 		header__links-list-item_no-bullit — вам может потребоваться этот класс, чтобы сделать ссылку без кружочка перед ней;
* 		header__link — ссылка;
* 		header__link_active — активная ссылка;
* 		header__logo — контейнер логотипа;
* 		header__logo-image — картинка с логотипом;
* 		address — контейнер с адресом;
* 		header__address — потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание. */
