.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  min-height: 295px;
}

.header div {
}

.header__menu {
  grid-column: 1 / span 3;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 30px;
  list-style: circle;
  padding-right: 40px;
}

.header__links-list-item {
  margin: 0;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
}
.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: inline-block;
  background: yellow;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
}
.header_address {
}

/* * 		header — вся шапка;
* 		header__menu — контейнер навигации;
* 		header__links-list — список ссылок;
* 		header__links-list-item — пункт списка ссылок;
* 		header__links-list-item_no-bullit — вам может потребоваться этот класс, чтобы сделать ссылку без кружочка перед ней;
* 		header__link — ссылка;
* 		header__link_active — активная ссылка;
* 		header__logo — контейнер логотипа;
* 		header__logo-image — картинка с логотипом;
* 		address — контейнер с адресом;
* 		header__address — потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание. */
